<!-- biceps.component.html -->
<h1>Biceps page</h1>
<button routerLink="/">ReturnToTheHommePage</button>

<!DOCTYPE html>
<html>
<head>
  <title>Liste des Ninjas</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>NINJAS LIST</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Muscle</th>
        <th>Difficulty</th>
        <th>Instructions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ninja of ninjas">
        <td>{{ ninja.name }}</td>
        <td>{{ ninja.type }}</td>
        <td>{{ ninja.muscle }}</td>
        <td>{{ ninja.difficulty }}</td>
        <td>{{ ninja.instructions }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>